# -----------------------
# .NET
# -----------------------
bin/
obj/
.vs/
*.user
*.suo

# -----------------------
# Node / React
# -----------------------
node_modules/
dist/
build/
.vite/

# -----------------------
# Logs
# -----------------------
*.log

# -----------------------
# OS files
# -----------------------
.DS_Store
Thumbs.db

# -----------------------
# Environment files
# -----------------------
.env
.env.local